# Ignore all except the i3, i3status, polybar, termite directories with respective configs
astromenace/
autostart/
balena-etcher-electron/
browsh/
cava
cef_user_data/
chromium/
chromium-flags.conf
Code/
configstore/
darktable/
dconf/
deadbeef/
deluge/
discord/
dunst/
ephoto/
Epic/
fontconfig/
font-manager/
gconf/
ghb/
GIMP/
google-chrome/
gqrx/
gtk-2.0/
gtk-3.0/
gtk-4.0/
htop/
i3lock-fancier/
inkscape/
kdeglobals
kdenliverc
keepassxc/
kitty/
kritadisplayrc
kritarc
libreoffice/
menus/
mimeapps.list
nautilus/
okularpartrc
okularrc
pavucontrol.ini
PBE/
pulse/
QtProject.conf
retroarch/
Riot/
screencloud/
Signal/
Simplenote/
Slack/
spotify/
sublime-text-3/
supertuxkart/
termite/
Thunar/
trizen/
Trolltech.conf
VirtualBox/
vlc/
vocal/
xfce4/
zyGrib.conf
